<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <admin_low_stock_notification>
            <general>
                <enabled>0</enabled>
                <cron_stock_alert>0 * * * *</cron_stock_alert>
                <low_stock_threshold>5</low_stock_threshold>
            </general>
        </admin_low_stock_notification>
    </default>
</config>
