<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin_low_stock_notification" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Admin LowStock Notification</label>
            <tab>thao</tab>
            <resource>Thao_AdminLowStockNotification::AdminLowStockNotification_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_stock_alert" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cron Schedule Expression</label>
                    <comment>Enter cron expression (Eg: "0 * * * *" to run every hour). Please refer to https://crontab.guru/ for more information.</comment>
                </field>
                <field id="low_stock_threshold" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Low Stock Threshold</label>
                    <comment>Enter a minimum quantity to trigger an out of stock alert</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="notification_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notification Email</label>
                    <comment>Email notification when product is out of stock</comment>
                    <validate>validate-email</validate>
                </field>
            </group>
        </section>
    </system>
</config>
